@import "../../style/vars";
@import "../../style/mixins";

.oir_home {
	height: 100%;
}

.oir_word_canvas {
	position: absolute;
	background: $darkColor;
	top: 0;
	left: 0;
	overflow: hidden;
}

.oir_word_rotate {
	position: absolute;
}

.oir_word_inner {
	width: 100%;
	height: 100%;
	position: absolute;
}

.oir_word_pointer {
	position: absolute;
	fill: $greenColor;
}

.oir_word_content {
	@include flexCenter;
	position: absolute;
	padding: 16px;
	flex-direction: column;

	h2 {
		font-size: 1.3em;
	}

	p {
		margin: 8px 0 0 0;
	}

	h2, h4, p {
		margin: 0;
		color: $darkColor;
		font-family: $viewFont;
		transition: opacity 0.2s linear;
	}
}

.oir_word_dragging {

	h2, h4, p, .oir_word_button {
		opacity: 0;
	}
}

.oir_word_column {
	width: 100%;
	max-width: 448px;
	height: 184px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 32px 0 0 0;
}

.oir_word_row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.oir_word_info {
	display: flex;
	flex-direction: column;
}

.oir_word_button {
	@include flexCenter;
	width: 56px;
	min-width: 56px;
	height: 56px;
	min-height: 56px;
	border-radius: 50%;
	border: 4px solid $darkColor;
	cursor: pointer;
	transition: opacity 0.2s linear;

	svg {
		fill: $darkColor;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}
}

.oir_cta_button {
	@include flexCenter;
	max-width: 240px;
	height: 40px;
	position: relative;
	align-self: center;
	padding: 8px 32px;
	margin: 24px 0 0 0;
	color: $lightColor;
  background-color: $greenColor;
	border-radius: 16px;
	box-shadow: $elevation2;
	font-family: $viewFont;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);

	* {
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}
}