@import "../../style/vars";
@import "../../style/mixins";

.oir_header {
	height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 20;
	margin: 8px 0 0 0;

	h1 {
		margin: 0;
		font-family: $presentationFont;
		color: $darkColor;
		font-size: 1.3em;
	}

	svg {
		fill: $darkColor;
		cursor: pointer;
		outline: none !important;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}
}

.oir_header_left {
	position: relative;
	display: flex;
	align-items: center;
}

.oir_header_left .oir_header_button {
	margin: 0 16px 0 0;
}

.oir_header_button {
	@include flexCenter;
	width: 40px;
	height: 40px;
	border-radius: 20px;
}

.oir_hide_refresh {
	opacity: 0;
	pointer-events: none;
}
