@import "../../style/vars";
@import "../../style/mixins";

.oir_header {
	height: 56px;
	position: absolute;
	top: 0;
	left: 16px;
	right: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.oir_header span {
	color: $darkColor;
	font-size: 24px;
	font-family: $viewFont;
	font-weight: 700;
}

.oir_header svg {
	fill: $darkColor;
	cursor: pointer;
	outline: none !important;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.oir_header_left {
	display: flex;
	align-items: center;
}

.oir_header_left .oir_header_button {
	margin: 0 16px 0 0;
}

.oir_header_button {
	@include flexCenter;
	width: 40px;
	height: 40px;
	border-radius: 20px;
}