@import url('https://fonts.googleapis.com/css?family=BioRhyme|Work+Sans:400,700');
@import "vars";

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: $lightColor;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
};

* {
	box-sizing: border-box;
}

#app, #outer {
	height: 100%;
	overflow: hidden;
 	position: relative;
}